@media screen and (max-width: 1200px) {
    #desktop-nav {
        display: none;
    }
    #hamburger-nav {
        display: flex;
    }

    .career-bg {
        grid-template-columns: 1fr;
    }

    .projects-slider {
        padding: 10px 40px;
        max-width: 100%;
    }

    .proj-nav-btn {
        width: 40px;
        height: 40px;
        font-size: 20px;
        padding: 10px 14px;
    }
}